/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* колір акценту #2196F3 */
/* білий #FFFFFF */
/* контакти в футері rgba(255, 255, 255, 0.6) */
/* розробники в футері rgba(255, 255, 255, 0.4) */
/* другорядний колір фону  #F5F4FA */

body {
  background-color: #ffffff;
  color: #757575;
}
.web {
  color: #2196f3;
}
.studio {
  color: #212121;
}
ul {
  list-style: none;
}
